# executable file and log

KompotEngine
log.txt

# MSVS / Win files

*.exe
*.dll
*.ilk
*.pdb
*.manifest
.vs
CMakeSettings.json
out
vs
CodeAnalysis

# Python cache

__pycache__

# SPIR-V byte code

*.spv

# Qt Creator

build-debug
build-release

# CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# linux

.directory
